body {
    margin: 10px;
  }
  .preferences {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid green;
  }
  .options {
    display: flex;
    flex-direction: column;
    padding: 2px;

  }

  span {
    margin: 4px;
    text-align: center;
    font-weight: bold;
  }


  button {
    margin: 3px;
    background-color:gray;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
  }
  .paragraph {
    display: flex;
  }